html{
    height:100%;
    width:100%;
}

body{
    height:100%;
    width:100%;
}

.jumbotron{
    height:100%;
}

.card{
    border:0;
}

#hero-image{
    width:350px;
}

#hero{
    display:flex;
    justify-content: center;
}

#hero-para{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#personal-projects{
    background-color:gainsboro;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#p-project-image{
    width:310px;
}

#p-projects-layout{
    display:flex;
    justify-content: center;
}

#project-card{
    width:345px;
}

/* a.no-link{
    color:gray;
}


a.no-link:hover{
    color:gray;
} */