html{
    height:100%;
    width:100%;
    scroll-behavior: smooth;
}

body{
    height:100%;
    width:100%;
}

.jumbotron{
    height:100%;
}

.card{
    border:0;
}

#hero-image{
    width:350px;
}

#hero{
    display:flex;
    justify-content: center;
}

#hero-para{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#personal-projects{
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#p-project-image{
    width:310px;
}

#p-projects-layout{
    display:flex;
    justify-content: center;
}

.project-card{
    width:345px;
    background-color:gainsboro;
}

.project-card-2{
    width:345px;
    /* background-color:gainsboro; */
}

#bootcamp-projects{
    background-color:gainsboro;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#footer{
    background-color:black;
    height:50%;
}

#footer-box{
    height:100%;
}

#insta, #linkedin, #twitter{
    height:50px;
    background-color:white;
    border-radius:10px;
    margin:20px;
}

#copyright{
    color:white;
    font-size:15px;
    text-align: center;
}

#cr-link{
    color:white;
    padding:1px;
    transition-duration:1s;
}

#cr-link:hover {
    color:black;
    background-color:white;
    transition-duration:1s;
    text-decoration:none;
}

#skills{
    background-color:gainsboro;
}

#experience{
    height:100%;
}

.box{
    height:50px;
    width:50px;
    margin:20px 0px 20px 200px;
    border-radius:50%;
    border: 2px solid red;
}

.box:hover{
    background-color:red;
}

.exp-align{
    align-self:center;
}

.exp-line{
    border-right:2px solid black;
    height:230px;
}

.private-project{
    color:red;
}

.public-project{
    color:green;
}