html{
    height:100%;
}

body{
    height:100%;
}

.jumbotron{
    height:100%;
}

.card{
    width:350px;
    border:0;
}

#hero{
    display:flex;
    justify-content: center;
}

#hero-para{
    display:flex;
    flex-direction:column;
    justify-content: center;
}